In [2]:
import pandas as pd
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from datasist.structdata import detect_outliers

ModuleNotFoundError: No module named 'datasist'

In [3]:
pip install datasist

Collecting datasist
  Using cached datasist-1.5.3-py3-none-any.whl (33 kB)
Requirement already satisfied: nltk in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (3.4.5)
Requirement already satisfied: matplotlib in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (3.1.3)
Requirement already satisfied: numpy in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (1.18.1)
Requirement already satisfied: seaborn in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (0.10.0)
Requirement already satisfied: scikit-learn in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (0.22.1)
Requirement already satisfied: jupyter in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (1.0.0)
Requirement already satisfied: Joblib in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (0.14.1)
Requirement already satisfied: pandas in c:\users\amerr\anaconda3\lib\site-packages (from datasist) (1.0.1)
Requirement already satisfied: six in c:\users\amerr\anaconda3\lib\site-packages (from nltk->datasist) (1.14.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\amerr\anaconda3\lib\site-packages (from matplotlib->datasist) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\amerr\anaconda3\lib\site-packages (from matplotlib->datasist) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amerr\anaconda3\lib\site-packages (from matplotlib->datasist) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\amerr\anaconda3\lib\site-packages (from matplotlib->datasist) (2.4.6)
Requirement already satisfied: scipy>=1.0.1 in c:\users\amerr\anaconda3\lib\site-packages (from seaborn->datasist) (1.4.1)
Requirement already satisfied: nbconvert in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (5.6.1)
Requirement already satisfied: qtconsole in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (4.6.0)
Requirement already satisfied: ipywidgets in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (7.5.1)
Requirement already satisfied: notebook in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (6.0.3)
Requirement already satisfied: ipykernel in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (5.1.4)
Requirement already satisfied: jupyter-console in c:\users\amerr\anaconda3\lib\site-packages (from jupyter->datasist) (6.1.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\amerr\anaconda3\lib\site-packages (from pandas->datasist) (2019.3)
Requirement already satisfied: setuptools in c:\users\amerr\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->datasist) (45.2.0.post20200210)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (0.8.4)
Requirement already satisfied: pygments in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (2.5.2)
Requirement already satisfied: defusedxml in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (0.6.0)
Requirement already satisfied: bleach in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (0.3)
Requirement already satisfied: jupyter-core in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (4.6.1)
Requirement already satisfied: jinja2>=2.4 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (2.11.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (1.4.2)
Requirement already satisfied: nbformat>=4.4 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (5.0.4)
Requirement already satisfied: testpath in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\amerr\anaconda3\lib\site-packages (from nbconvert->jupyter->datasist) (4.3.3)
Requirement already satisfied: jupyter-client>=4.1 in c:\users\amerr\anaconda3\lib\site-packages (from qtconsole->jupyter->datasist) (5.3.4)
Requirement already satisfied: ipython-genutils in c:\users\amerr\anaconda3\lib\site-packages (from qtconsole->jupyter->datasist) (0.2.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\amerr\anaconda3\lib\site-packages (from ipywidgets->jupyter->datasist) (7.12.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\amerr\anaconda3\lib\site-packages (from ipywidgets->jupyter->datasist) (3.5.1)
Requirement already satisfied: prometheus-client in c:\users\amerr\anaconda3\lib\site-packages (from notebook->jupyter->datasist) (0.7.1)
Requirement already satisfied: tornado>=5.0 in c:\users\amerr\anaconda3\lib\site-packages (from notebook->jupyter->datasist) (6.0.3)
Requirement already satisfied: pyzmq>=17 in c:\users\amerr\anaconda3\lib\site-packages (from notebook->jupyter->datasist) (18.1.1)
Requirement already satisfied: Send2Trash in c:\users\amerr\anaconda3\lib\site-packages (from notebook->jupyter->datasist) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\amerr\anaconda3\lib\site-packages (from notebook->jupyter->datasist) (0.8.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\amerr\anaconda3\lib\site-packages (from jupyter-console->jupyter->datasist) (3.0.3)
Requirement already satisfied: webencodings in c:\users\amerr\anaconda3\lib\site-packages (from bleach->nbconvert->jupyter->datasist) (0.5.1)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\amerr\anaconda3\lib\site-packages (from jupyter-core->nbconvert->jupyter->datasist) (227)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\amerr\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert->jupyter->datasist) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\amerr\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert->jupyter->datasist) (3.2.0)
Requirement already satisfied: decorator in c:\users\amerr\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert->jupyter->datasist) (4.4.1)
Requirement already satisfied: pickleshare in c:\users\amerr\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets->jupyter->datasist) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\amerr\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets->jupyter->datasist) (0.4.3)
Requirement already satisfied: backcall in c:\users\amerr\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets->jupyter->datasist) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\amerr\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets->jupyter->datasist) (0.14.1)
Requirement already satisfied: wcwidth in c:\users\amerr\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->datasist) (0.1.8)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\amerr\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter->datasist) (1.5.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\amerr\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter->datasist) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in c:\users\amerr\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter->datasist) (19.3.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\amerr\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets->jupyter->datasist) (0.5.2)
Requirement already satisfied: zipp>=0.5 in c:\users\amerr\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter->datasist) (2.2.0)
Installing collected packages: datasist
Successfully installed datasist-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from datasist.structdata import detect_outliers

In [8]:
df=pd.read_csv('D:/Courses/AI/Epsilon AI/Session 30/Assignment/Assignment/used_cars_price.csv',encoding='utf-8')
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [10]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [12]:
df.columns=df.columns.str.lower()
df.columns

Index(['name', 'location', 'year', 'kilometers_driven', 'fuel_type',
       'transmission', 'owner_type', 'mileage', 'engine', 'power', 'seats',
       'new_price', 'price'],
      dtype='object')

In [13]:
df.drop(['name', 'location','fuel_type','transmission','owner_type','mileage','engine','power','new_price'],axis=1,inplace=True)
df

      year  kilometers_driven  seats  price
0     2010              72000    5.0   1.75
1     2015              41000    5.0  12.50
2     2011              46000    5.0   4.50
3     2012              87000    7.0   6.00
4     2013              40670    5.0  17.74
...    ...                ...    ...    ...
6014  2014              27365    5.0   4.75
6015  2015             100000    5.0   4.00
6016  2012              55000    8.0   2.90
6017  2013              46000    5.0   2.65
6018  2011              47000    5.0   2.50

[6019 rows x 4 columns]

In [14]:
df.corr()

                       year  kilometers_driven     seats     price
year               1.000000          -0.173048  0.012333  0.305327
kilometers_driven -0.173048           1.000000  0.083113 -0.011493
seats              0.012333           0.083113  1.000000  0.052225
price              0.305327          -0.011493  0.052225  1.000000

In [15]:
df.dropna(axis=0,inplace=True)

In [16]:
x=df.drop('price',axis=1)
y=df['price']

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [18]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [19]:
poly_obj=PolynomialFeatures(degree=4)
x_train_scaled_poly=poly_obj.fit_transform(x_train_scaled)
x_test_scaled_poly=poly_obj.transform(x_test_scaled)

In [20]:
model=LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
model.fit(x_train_scaled,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
model.score(x_train_scaled,y_train)

0.10179569793578724

In [23]:
model.score(x_test_scaled,y_test)

0.08244052244065403

In [24]:
model.fit(x_train_scaled_poly,y_train)
model.score(x_train_scaled_poly,y_train)

0.2063681011532864

In [25]:
model.score(x_test_scaled_poly,y_test)

0.10225826292605644

In [26]:
model=KNeighborsRegressor(n_neighbors=5)
model.fit(x_train_scaled,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [27]:
model.score(x_train_scaled,y_train)

0.3802262224739089

In [28]:
model.score(x_test_scaled,y_test)

0.02914293829356263

In [29]:
models={
    'lr':LinearRegression(),
    'KNN':KNeighborsRegressor(n_neighbors=5),
    'SVR':SVR()
}

In [30]:
for name,model in models.items():
    print('using:',name)
    model.fit(x_train_scaled,y_train)
    print('train accuracy: ',model.score(x_train_scaled,y_train))
    print('test accuracy: ',model.score(x_test_scaled,y_test))
    print('-'*20)

using: lr
train accuracy:  0.10179569793578724
test accuracy:  0.08244052244065403
--------------------
using: KNN
train accuracy:  0.3802262224739089
test accuracy:  0.02914293829356263
--------------------
using: SVR
train accuracy:  0.04149208170735419
test accuracy:  0.018189013063855453
--------------------

In [31]:
model.fit(x_train_scaled,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [32]:
features=x.columns.to_list()

In [33]:
import joblib

In [34]:
joblib.dump(model,'used_cars_model.h5')
joblib.dump(scaler,'used_cars_scaler.h5')
joblib.dump(features,'used_cars_features.h5')

['used_cars_features.h5']